# ===============
# UNITY .GITIGNORE
# ===============

# Pastas temporárias e de cache geradas pelo Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos gerados para o VS Code e Visual Studio
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metadados de arquivos ignorados
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds e pacotes compilados
*.apk
*.aab
*.unitypackage
*.app

# Ignorar arquivos do SO (Mac/Windows)
.DS_Store
Thumbs.db